* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f8f9fa;
    color: black;
    line-height: 1.4;
}

/* styling the header */
.head{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    background-color: white;
    padding:1%
}

.brand-name{
    margin-left: 7%;
    font-size: 1.8rem;
}

.top-nav{
    display: flex;
    gap:20px;
    margin-left: auto;
    margin-right: auto;
}

.top-nav a{
    color: #555;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.top-nav a:hover{
    color: black;
}

.sign-up{
    display: inline-block;
    padding:1% 1.6%;
    border-radius: 0.65rem;
    background-color: #366ce8;
    color: white;
    text-decoration: none;
    /* display: flex;
    align-items: center;
    justify-content: space-around; */
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 7%;
    transition: all 0.2 ease;
}

.sign-up:hover{
    background-color: #2a58d6;
    transform: translateY(-1px);
}

.divider{
    border: none;
    border-top: 1px solid #eee;
}

.hero-section{
    padding:0 4%;
    margin-top: 8.3rem;
    max-width: 50rem;
}

.question h1{
    font-size: 2.7rem;
    line-height: 1.1;
    color: black;
    font-weight: 700;
}

.answer{
    margin-top: 1.6rem;
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
}

.second-nav {
    margin-top: 2.2rem;
    display: flex;
    gap:1rem;
}

.second-nav a{
    text-decoration: none;
    padding: 2.2% 3.4%;
    border-radius: 0.4rem;
    display: inline-block;
    font-weight: 600;
}

.start-exp{
    background-color: #3B82F6; /* Blue */
    color: white;
    border:0.05rem solid #3b82f6;
}

.sub-an-id{
    background-color: #fff;
    color: #374151;
    border: 0.05rem solid #D1D5DB;
}
